.square__wrapper {
  width: 500px;
  height: 500px;
  background-color: yellow;
  display: grid;
}
.square__subsquare {
  user-select: none;
  border: 1px solid black;
}
.square__block {
  border: none;
  background-color: #fff;
}

.block__resize {
  height: 50%;
  width: 50%;
  background-color: green;
  cursor: nw-resize;

}
.block__drag {
  user-select: none;
  height: 100%;
  width: 100%;
}

.square__subsquare.square__block {
  cursor: grab;
}
